.card-body img {
  object-fit: cover;
  border-top-right-radius: 0.375rem;
  height: 100%;
}

.newssite {
  cursor: pointer;
}

.card-list {
  position: relative;
}

.card-title:active {
  color: blue;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid black;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.news-card-img {
  max-width: 250px;
  object-fit: cover;
  max-height: 200px;

}

.article-img {
  border-radius: 1em;
  width: 100%;
  max-height: 450px;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .card-body {
    flex-direction: column-reverse;
  }

  .card-body img {
    border-top-right-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
}